<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IbookService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/TP09WCFService/Books"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IbookService"
                contract="BookService.IbookService" name="BasicHttpBinding_IbookService" />
        </client>
    </system.serviceModel>
</configuration>